<!DOCTYPE html>
<html>
    <head>
        <title>專屬虛擬人偶貼圖</title>
        <style type="text/css">
       
        
        body{
          background-color: black;
            font-family: 微軟正黑體,Microsoft JhengHei;
           color: white;
        }
        
        
        .header{
    height:35%;
   width:auto;
   z-index:1;
  overflow: hidden;
  position:fixed;   
  top: 0; 
 left: 0;
	right: 0;
  background-color: black;
      }
        
.title{
     background-color: black;
    z-index:1;
   position:fixed;   
   top: 35%; 
 left: 0;
	right: 0;
   
}
h1{
       text-align: center;
      font-size:3em;
      margin:20px;

}

@media only screen and (max-width : 533px) {
   /* Smartphone view: 1 tile */

   
 #logo{
			max-width: 60%;
			height: auto;
 position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
   
	}
}

@media only screen and (max-width : 2000px) and (min-width : 534px) {
   /* Tablet view: 2 tiles */

   
#logo{
		
			height: 100%;
			width:auto;
 position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
   
	}

}


#blank{
  height : 650px;
	}
        


        
        .userImage {
           position:relative;
    display: inline-block;
      margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    height: 450px; 
    border:1px solid #424242;
        }
        
        #display{
    text-align:center;
    background-color: black;
        }
        </style>
        
    </head>
    
    <body>
        

    <div class = "header">

            <img id ="logo" src ="/logo.jpg"></img>
     
        
       <div class = "title">
         <h1>請長按圖片下載您的專屬貼圖</h1>
        </div>
        
    </div>


  <div id="blank"></div>
  
<div id = "display">
    


<img class ="userImage" src="<%=urlVar+"images/"+fn0Var%>"></img>
<% if( typeof fn1Var !== 'undefined'){ %>
  <img class ="userImage" src="<%=urlVar+"images/"+fn1Var%>"></img> 
<% } %>


     </div>
 
      
    </body>
    
</html>